.build/
.swiftpm/
*.xcodeproj
xcuserdata/
DerivedData/

*.sqlite
*.sqlite-shm
*.sqlite-wal

*.db
*.db-shm
*.db-wal
*.organized.html
worksheet.csv
sample.stderr
*.labels.db

*.heapsnapshot
*.network-request
*.network-response

.DS_Store
test_small.html
test_small.organized.html
labels-to-import.csv
labels-unix.csv
